
$primary-color: #ffcc00; 
$secondary-color: #00a8e8; 

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; 

    h2{
        margin-top: 5%;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    .card {
        height: 100%;
    }

    .card {
        height: 500px;
        width: 300px;
    }

    .carousel-inner {
        img {
            height: 250px;
            width: 100%;
        }
    }
    .presentation {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width:50%;
            height: auto;
        }
    }
    .sidebar {
        left: 0;
        top: 0;
        position: sticky;
        height: 100vh;
        background-color: #333;
        padding-top: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        a {
            display: block;
            margin: 10%;
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            transform: scale(1.2);
        }
    }

    .content {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    input {
        width: 50%;
    }
}
nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
  
      li {
        display: inline-block;
        margin-right: 10px;
  
        a {
          text-decoration: none;
          color: $secondary-color;
          transition: color 0.3s;
  
          &:hover {
            color: darken($secondary-color, 10%);
          }
        }
      }
    }
  }
  