body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    .card {
        height: 100%;
    }

    .sidebar {
        left: 0;
        top: 0;
        position: sticky;
        height: 100vh;
        background-color: #333;
        padding-top: 20px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        a {
            display: block;
            margin: 10%;
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
            transform: scale(1.2);
        }
    }

    .content {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    input {
        width: 50%;
    }
}